*{
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  width: 300px;
  height: 300px;
  border: 3px solid blue;
}
.box {
  width: 100px;
  height: 100px;
  border: 2px solid red;
}

.parent-container {
  display: flex;
  height: 300px;
  width: 300px;
  border: 3px solid yellow;
  justify-content: center;
  align-items: center;
}
.boxes {
  height: 100px;
  width: 100px;
  border: 2px solid black;
}



.navbar {
  display: flex;
  flex-wrap:wrap; 
  list-style: none;
background-color: aqua;
padding: 1rem;
  
}

.navbar li {
 flex: 200px;
  text-align: center;
  
}

.navbar a {
 
  text-decoration: none;
 color:black;
}



.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 200px;
  padding: 20px;
  background:white;
  border-radius: 12px;
  border: 2px solid black;
  text-align: center;
}

.profile-img {
  width: 80px;
  height: 80px;
  border-radius: 50%; 
  object-fit: cover;
  margin-bottom: 15px;
  background-color:white;
}

.Name {
  margin: 8px ;
  font-size: 1.2rem;
  color:black;
}

.description {
  margin: 0;
  font-size: 1rem;
  color:gray;
  
}

